
.full-page {
    height: 100vh;
}

.memory-board {
    display: flex;
    width: 32rem;
    height: 26rem;
    /*border: solid aquamarine;*/
    flex-wrap: wrap;
    justify-content: space-around;
    padding: .7rem .5rem .5rem;
    background-color: #f5d6da;
}

.backside {
    width: 6rem;
    height: 6rem;
}

.tiles {
    width: 6rem;
    height: 6rem;
}