
.full-page {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
}

.memory-board {
    display: flex;
    width: 32rem;
    height: 26rem;
    /*border: solid aquamarine;*/
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    background-color: #100506;
}

#memory-board-and-column {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

h2 {
    margin: 0;
}

.backside {
    width: 6rem;
    height: 6rem;
}

.tiles {
    width: 6rem;
    height: 6rem;
    cursor: pointer;
}